<!DOCTYPE html>
<html>
  <head class="antialiased font-sans h-full">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title inertia>
      AdonisJS
    </title>

    <script
      crossOrigin="anonymous"
      src="//unpkg.com/react-scan/dist/auto.global.js"
    ></script>

    @viteReactRefresh()
    @vite(['inertia/app.tsx'])
    @inertiaHead()
    @stack('dumper')
  </head>

  <body class="bg-[#EEF7FF] min-h-full flex flex-col">
    @inertia()
  </body>

</html>
