<!DOCTYPE html>
<html>
  <head class="antialiased font-sans h-full">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title inertia>
      AdonisJS
    </title>

    @viteReactRefresh()
    @vite(['inertia/app.tsx'])
    @inertiaHead()
    @stack('dumper')
  </head>

  <body class="bg-linear-to-r from-[#94e2f8] to-[#54b4d6] min-h-full flex flex-col">
    @inertia()
  </body>

</html>
